
.python_group {
    border: 1px solid black;
}

.python_group td {
    border: 1px solid blue;
    padding: 10px; 
}

.bootcamp-block {
    border: 1px solid blue;
    background-color: burlywood;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.bootcamp-inline {
    border: 1px solid blue;
    background-color: burlywood;
    padding: 15px;
}
