<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мой кошелки</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/time">Time</a></li>
    </ul>

    <u>
        <li>Название кошелка: </li>
        <li>Сумма: </li>
        <li>Валюта: </li>
    </u>
</body>
</html>