
p {
    color: black;
    background: orangered;
}

strong {
    background: bisque;
    font-size: 48px;
}

h1 {
    font-size: 18px;
}

.student {
    color: orange;
    background: green;
}

.boss-fullstack {
    color: black;
    background: red;
}

.big-man {
    color: magenta;
    background: purple;
}

.senior {
    color: blue;
    background: #4285f4;
}

.mentor {
    color: blueviolet;
    background: pink;
}

.javacript-senior {
    color: aqua;
    background: burlywood
}

.brain-girl {
    color: gray;
    background: darkgrey;
}

div:hover {
    background: white;
    color: black;
}

div:hover {
    font-size: 18px
}

