<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap-5.0.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>My blog home</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Мой блог</h1>
    <p>
        Добро пожаловать в мой блог.
        Здесь я публикую разные интересные статьи
    </p>
</body>
</html>