
.block1 {
    border: 2px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    /* background-color: orange; */
    background-image: url(we.jpg);

    width: 600px;
    height: 200px;
    
}

.block2 {
    border: 2px solid red;
    padding: 20px;
    background-color: lightcoral;
}

.span1 {
    border: 2px solid green;
    margin-left: 20px;

}

.span2 {
    border: 2px solid blue;
}